* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: #F2FFFF;
}

header {
    background: #12B75C;
}

.header {
    display: flex;
    background: #12B75C;
    margin: auto;
    width: 1280px;
    height: 78px;
}

.logo {
    height: 70px;
    margin: auto;
}

.search {
    background: #fff;
    border-radius: 13px;
    height: 40px;
    width: 750px;
    margin: auto;
}

.search-text {
    margin: 10px;
    color: #808080;
    font-size: 16px;
}

#header-img {
    height: 45px;
    margin: auto;
}

.page {
    width: 1280px;
    margin: 50px auto;
}

.item-top {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin: 20px auto;
    background: #fff;
    border-radius: 17px;
    border: 1px solid #707070;
}

.item-top-left {
    display: flex;
    margin: 10px;
}

.item-img {
    width: 140px;
    height: 140px;
    border-radius: 13px;
}

.cart-items-elem-text {
    margin: 5px 10px;
    font-weight: 500;
    font-size: 24px;
}

.cart-items-elem-stars {
    display: flex;
    margin: 70px 10px 0;
    width: 200px;
}

.cart-items-elem-stars-text {
    margin: auto 0;
    font-weight: 500;
    font-size: 20px;
}

.cart-items-elem-stars-blue {
    margin: auto 20px;
    font-weight: 500;
    font-size: 20px;
    color: #545CFC;
}

.cart-items-elem-price {
    margin: auto;
    width: 83px;
    font-weight: 500;
    font-size: 24px;
}

.item-top-right {
    display: flex;

}

.cart-button {
    margin: auto;
    width: 220px;
    height: 45px;
    padding-top: 10px;
    background: #12B75C;
    border-radius: 13px;
    text-align: center;
    vertical-align: middle;
}

.cart-button-text {
    margin-top: auto;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.item-fav {
    width: 40px;
    margin: auto 15px;
}

.wrapper {
    display: flex;
}
    
.rev-img {
    width: 900px;
    margin: 20px;
    background: #fff;
    border-radius: 17px;
    border: 1px solid #707070;
}

.choise {
    margin: 20px;
    font-weight: 500;
    font-size: 24px;
}

.underline {
    text-decoration: underline;
}

.imgs {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.imgs-elem {
    width: 120px;
    height: 120px;
    border-radius: 13px;
}

.leave-stars {
    width: 300px;
    height: 120px;
    margin: 20px;
    background: #fff;
    border-radius: 17px;
    border: 1px solid #707070;
}

.leave-stars-elem {
    display: flex;
    margin: 10px;
}

.leave-stars-text {
    margin: auto 0;
    font-weight: 700;
    font-size: 24px;
}

.leave-stars-grey {
    margin: auto 0;
    font-weight: 500;
    font-size: 16px;
    color: #707070;
}

.comment {
    width: 900px;
    margin: 20px;
    background: #fff;
    border-radius: 17px;
    border: 1px solid #707070;
}

.comment-top {
    display: flex;
    justify-content: space-between;
}

.comment-left {
    display: flex;
}

.prof-img {
    width: 100px;
    margin: 20px;
}

.name {
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
}

.name-info {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    color: #707070;
}

.comment-right {
    margin: 20px;
}

.time {
    margin-left: 100px;
    font-weight: 500;
    font-size: 12px;
    color: #707070;
}

.plus-text {
    margin: 0 120px;
    font-size: 12px;
}

.comment-text {
    margin: 20px 120px;
    font-size: 12px;
}

.answer {
    width: 700px;
    margin: 20px 120px;
    background: #F2F2F2;
    border-radius: 17px;
    border: 1px solid #707070;
}

.answer-title {
    margin: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #707070;
}

.answer-text {
    margin: 10px;
    font-size: 12px;
}